# Additional Xcode files
*.xccheckout
*.xcscmblueprint
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# SwiftData (SQLite)
*.sqlite
*.sqlite-shm
*.sqlite-wal

# macOS temp files
.DS_Store
.AppleDouble
.LSOverride

# Backup and temp files
*.swp
*.lock
*.orig
*.tmp

# Swift Playground
*.playground
timeline.xctimeline

# SwiftUI Preview
**/Preview Content/

# Test Artifacts
*.xcresult
*.log

# Firebase
GoogleService-Info.plist
