# MARK: - Xcode project/workspace
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
**/xcuserdata/
**/project.xcworkspace/xcuserdata/

# MARK: - Swift Package Manager
/.build/
/Packages/
Package.pins
!Package.resolved

# MARK: - Derived Data & Logs
DerivedData/
*.xcresult
*.log

# MARK: - SwiftUI Previews
**/Preview Content/

# MARK: - SwiftData (SQLite) & Core Data
*.sqlite
*.sqlite-shm
*.sqlite-wal

# MARK: - Firebase
GoogleService-Info.plist

# MARK: - macOS metadata
.DS_Store
.AppleDouble
.LSOverride

# MARK: - Backup & Temp files
*.swp
*.lock
*.orig
*.tmp

# MARK: - Swift Playgrounds
*.playground
timeline.xctimeline
PadoStudio/PadoStudio.xcodeproj/project.xcworkspace/xcuserdata/gabi.xcuserdatad/UserInterfaceState.xcuserstate
